extends layout

block content
    h1 Connexion
    p ident
    input#inputIdent(type="text", name="ident")
    p password
    input#inputPassword(type="password", name="password")
    button#btnCreate(type="submit", value="Connect", name="onnect") connect