doctype html
html
  //
    page heritable par en tappant "extends layout" "block content"
  
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
