html(lang="en")
    head
        title= pageTitle
    body
    h1 Connexion
    p ident
    input(type="text", name="ident")
    p password
    input(type="password", name="password")
    input(type="button", value="Connexion")